<section>
<div class="text-box">
<h1>We Design Websites</h1>
<p>We specialize in developing and designing stunning websites tailored to your small business needs.<br><br>Only for $999<br><br> IN 5 days<br><br>No Payment Until Finish Your Project</p>
<a href="/contact_form/new" class="hero-btn" > Get Started</a>
<br><br><br>
<p>Or</p>
<a href="https://calendly.com/goeswebdesigns" class="hero-btn" > Book Appointment</a>




</section>

<section class="course">
<h1>How It Works</h1>
<p>Beautiful And Functional Website Designs For Small Businesses In 5 Business Day Only $999</p>
<div class="row">
<div class="course-col">
<h3>Consult</h3>
<p>We begin with a detailed consultation to understand your business needs and goals, setting the foundation for the project.
</p>
</div>


<div class="course-col">
<h3>Design</h3>
<p>Our expert designers create initial website mockups based on your preferences and feedback for a visually appealing design.
</p>
</div>


<div class="course-col">
<h3>Development</h3>
<p>Our developers bring the design to life, coding and optimizing the website for performance, functionality, and user experience.
</p>
</div>
</div>
</section>

<section class="facilities">
<h1>Our Services</h1>

<div class="row">

<div class="facilities-col">
<%= image_tag "pexels-photo-3861958.jpeg" %>
<h3>Custom Design</h3>
<p>Tailored website design</p>
</div>

<div class="facilities-col">
<%= image_tag "pexels-photo-3861959.jpeg" %>

<h3>Responsive Layouts</h3>
<p>Optimized for all devices</p>
</div>

<div class="facilities-col">
<%= image_tag "startup-photos.jpg" %>
<h3>E-Commerce Solutions</h3>
<p>Online selling platforms</p>
</div>

</div>
</section>

<section class="testimonial">
<div class="testimonials">
<h1>Testimonials</h1>
<p>Client</p>

<div class="row">


<div class="testimonials-col">
<%= image_tag "testimonial-skip-01.jpg" %>
<div>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<p>GoesWebDesign created a stunning website for my business. Their attention to detail and exceptional customer service is unmatched.</p>
<h3>John Smith</h3>
</div>
</div>

<div class="testimonials-col">
<%= image_tag "testimonial-skip-02.jpg" %>
<div>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<p>I am extremely satisfied with the website developed by GoesWebDesign. The team was professional, responsive, and delivered beyond my expectations.</p>
<h3>Emily Johnson</h3>

</div>
</div>

<div class="testimonials-col">
<%= image_tag "testimonial-skip-03.jpg" %>
<div>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<span class="uag-star">★</span>
<p>GoesWebDesign transformed my online presence, helping me attract more customers and grow my business. Highly recommend their services.</p>
<h3>Sarah Thompson</h3>


</div>
</div>
</div>
</div>
</section>

<section class="cta" >

<h4>READY TO GET STARTED</h4>
<h2>Let's Discuss Your Project</h2>
<p>Contact us today to schedule a consultation and kickstart your website design journey.</p>
<a href="contact_form/new" class="hero-btn">CONTACT US</a>
<br><br><br>
<p>Or</p>
<a href="https://calendly.com/goeswebdesigns" class="hero-btn" > Book Appointment</a>



</section>

